.titulo{
    color:  green;
    display: flex;
    justify-content: center;

    }
    

.calculadora {
    background-color: rgb(34, 34, 34);
    width: 200px;
    height: 290px;
    margin: 0 auto;
    padding: 20px;
    
}

#resultado {
    width: 100%;
    margin-bottom: 8px;
    padding: 5px;
}
.button {
    width: 40px;
    height: 40px;
}

.boton {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px; 
}


